.card-title {
  position: absolute;
  font-size: 55px;
  text-transform: uppercase;
  top: 20%;
  left: 10%;
  width: 50%;
  font-weight: 500;
  word-spacing: 5px;
}

.button-title {
  position: absolute;
  top: 35%;
  left: 10%;
  transition: all 0.1s;
}

#button-title:hover {
  background-color: rgb(155, 153, 151);
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1060px) {
  .card-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
    .card-title {
      font-size: 14px;
    }
  }

@media screen and (max-width: 1060px) {
    .card-title {
      font-size: 10px;
    }
  }
